{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="projekt-search-outer"id="searchBarContainer">
        <div class="projekt-search-container">
        <img alt="search" src="../static/images/search.svg" class="projekt-search-inner" id="searchIcon" onclick="toggleSearchBar()">
        <form method="GET" action="{{ url_for(request.endpoint) }}">
            <input type="text" name="query" placeholder="Search ..." {% if  request.args.get('query') %}value="{{  request.args.get('query') }}"{% endif %}>
            <button type="submit">Search</button>
        </form>
        </div>
    </div>

    <div class="viewers">
        <a href="{{ url_for('index') }}">
            <img class="back-button" alt="Back" src="../static/images/arrow2.svg" id="arrowIcon">
        </a>

        <div class="all-users">
            <div class="button-container">
            <a href="{{ url_for('admin_panel_users') }}" id="usersButton" class="butt-my-viewers {% if request.endpoint == 'admin_panel_users' %}active{% else %}passive{% endif %}">Users</a>
            <a href="{{ url_for('admin_panel_groups') }}" id="groupsButton" class="butt-my-viewers {% if request.endpoint == 'admin_panel_groups' %}active{% else %}passive{% endif %}">Groups</a>
            <a href="{{ url_for('admin_panel_posts') }}" id="postsButton" class="butt-my-viewers {% if request.endpoint == 'admin_panel_posts' %}active{% else %}passive{% endif %}">Posts</a>
            <a href="{{ url_for('admin_panel_comments') }}" id="commentsButton" class="butt-my-viewers {% if request.endpoint == 'admin_panel_comments' %}active{% else %}passive{% endif %}">Comments</a>
            <a href="{{ url_for('admin_panel_tags') }}" id="tagsButton" class="butt-my-viewers {% if request.endpoint == 'admin_panel_tags' %}active{% else %}passive{% endif %}">Tags</a>
        </div>
            <!-- Loop through users from the database -->
            <div class="users" id="usersList">
                {% for element in elements %}
                    {% if panel_type == 'users' and element.login != session.user %}
                        <a href="{{ url_for('profile', login=element.login) }}" class="user">
                            <div class="user">
                                <img class="avatar" alt="" src="{{ element.avatar_url or '../static/images/no_avatar.svg' }}">
                                <div class="name-user">
                                    <div class="user-email">Login: @{{ element.login }}</div>
                                    <div class="user-email">Name: {{ element.name }}</div>
                                    <div class="user-email">Surname: {{ element.surname }}</div>
                                    <div class="user-email">Email: {{ element.mail }}</div>
                                    <div class="user-role">Role: {{ element.role }}</div>
                                    <div class="user-role">Banned: {{ element.is_banned }}</div>
                                </div>
                            </div>
                        </a>
                        <div class="button-container">
                        {% if user.role == 'admin' and element.role != 'admin' %}
                            <div class="button-group">
                                <a class="edit-buttons" id="editProfileButton" href="{{ url_for('setting', login=element.login) }}">Edit Profile</a>
                            </div>
                        {% endif %}

                        <form method="POST" action="{{ url_for('admin_panel_users') }}">
                            <input type="hidden" name="user_login" value="{{ element.login }}">
                        <div class="button-container">
                            
                            {% if user.role == 'admin' %}
                                {% if element.role == 'user' and not element.is_banned %}
                                    <button type="submit" name="action" class="edit-buttons" value="make_moderator" class="moderate">Make Moderator</button>
                                    <button type="submit" name="action" class="edit-buttons" value="make_admin" class="admin">Make Admin</button>
                                    <button type="submit" name="action" class="edit-buttons" value="delete" class="delete">Delete</button>
                                {% elif element.role == 'moderator' %}
                                    <button type="submit" name="action" class="edit-buttons" value="make_user" class="user">Make User</button>
                                    <button type="submit" name="action" class="edit-buttons" value="make_admin" class="admin">Make Admin</button>
                                    <button type="submit" name="action" class="edit-buttons" value="delete" class="delete">Delete</button>
                                {% endif %}
                            {% endif %}

                            {% if element.role != 'admin' and ((user.role == 'moderator' and element.role != 'moderator') or user.role == 'admin') %}
                                {% if element.is_banned %}
                                    <button type="submit" name="action" class="edit-buttons" value="unban" class="unban">Unban</button>
                                {% else %}
                                    <button type="submit" name="action" class="edit-buttons" value="ban" class="ban">Ban</button>
                                {% endif %}
                            {% endif %}
                        </div>

                        </form>
                        </div>
                        <div class="line"></div>
                    {% elif panel_type == 'groups' %}
                        <a href="{{ url_for('group', id=element.id) }}" class="user">
                            <div class="user">
                                <img class="avatar" alt="" src="{{ element.avatar_url or '../static/images/avatar_group.svg' }}">
                                <div class="name-user">
                                    <div class="usser-name">Name: {{ element.name }}</div>
                                    <div class="user-name">Members: {{ element.members_count() }}</div>
                                </div>
                                <form method="POST" action="{{ url_for('admin_panel_groups') }}">
                                    <input type="hidden" name="group_id" value="{{ element.id }}">
                                    <button type="submit" class="edit-buttons">Delete</button>
                                </form>
                                <div class="line"></div>
                            </div>
                        </a>
                      
                    {% elif panel_type == 'posts' %}
                        <a href="{{ url_for('post', post_id=element.id) }}" class="user">
                            <div class="user">
                                <img class="avatar" alt="" src="{{ url_for('image', id=element.id) }}">
                                <div class="name-user">
                                    <div class="user-name">Author: @{{ element.author_login }}</div>
                                    <div class="user-name">Date: {{ element.date.strftime("%d %B %Y") }}</div>
                                    <div class="user-name">Likes: {{ element.like_count() }}</div>
                                    <div class="user-name">Shares: {{ element.shares_count() }}</div>
                                    <div class="user-name">Comments: {{ element.comments_count() }}</div>
                                    <div class="user-name">Status: {{ element.status | title }}</div>
                                    {% if element.status == 'group' %}
                                        <div class="user-name">Groups:{% for group in element.get_connected_groups() %} {{ group.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
                                    {% endif %}
                                </div>
                                <form method="POST" action="{{ url_for('admin_panel_posts') }}">
                                    <input type="hidden" name="post_id" value="{{ element.id }}">
                                    <button type="submit" class="edit-buttons">Delete</button>
                                </form>
        
                                <div class="line"></div>
                            </div>
                        </a>
                        
                    {% elif panel_type == 'comments' %}
                        <a href="{{ url_for('post', post_id=element.post_id) }}" class="user">
                            <div class="user">
                                <img class="avatar" alt="" src="{{ url_for('image', id=element.post_id) }}">
                                <div class="name-user">
                                    <div class="user-name">Author: @{{ element.author_login }}</div>
                                    <div class="user-name">Date: {{ element.date.strftime("%d %B %Y") }}</div>
                                    <div class="user-name comment-text ">Text: {{ element.text }}</div>
                                </div>
                                <form method="POST" action="{{ url_for('admin_panel_comments') }}">
                                    <input type="hidden" name="comment_id" value="{{ element.id }}">
                                    <button type="submit" class="edit-buttons">Delete</button>
                                </form>
                                <div class="line"></div>
                                
                            </div>
                        </a>
                      
                    {% elif panel_type == 'tags' %}
                        <a href="{{ url_for('index', query="#"+element.name) }}" class="user">
                            <div class="user">
                                <div class="name-user">
                                    <div class="user-name">Tag: #{{ element.name }}</div>
                                    <div class="user-name">Posts: {{ element.posts_count() }}</div>
                                </div>
                                <form method="POST" action="{{ url_for('admin_panel_tags') }}">
                                    <input type="hidden" name="tag_name" value="{{ element.name }}">
                                    <button type="submit" class="edit-buttons">Delete</button>
                                </form>
        
                                <div class="line"></div>
                            </div>
                        </a>
                       
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
