<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>You are Banned</title>
  	<link rel="stylesheet"  href="../static/css/style.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
</head>
<body class="banned-page-body">
  <div id="flashMessages" class="flash-container">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="flash-message {{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
    <div class="banned-page">
      <h1>You are banned</h1>
      <p>Sorry, you are banned.</p>
      <a href="/logout" class="logout-link">Logout</a>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
