{% extends "base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}
<div class="projekt-content">
    <a href="{{ url_for('go_back') }}">
        <img class="back-button" alt="Back" src="../static/images/arrow2.svg" id="arrowIcon">
      </a>
    <div id="postForm" class="pagesignup-container">
        <form id="postForm" class="pagesignup-signup" method="POST" action="{{ url_for('create_post') }}" enctype="multipart/form-data">
          <div class="popup-header">
            <h2 class="popup-title">New Post</h2>
            <button type="submit" class="post-button">Post</button>
          </div>

          <!-- Image Upload & Details -->
          <div id="dropZone" class="drop-zone" onclick="document.getElementById('imageUpload').click();">
            <p>Drag & Drop image here</p>
            <span class="image-upload-label">Click to Upload Image</span>
            <input type="file" id="imageUpload" accept="image/*" style="display: none;" name="image" required>
          </div>
          <textarea id="caption" rows="8" cols="50" placeholder="Write a text..." name="text"></textarea>
          <textarea id="tags" placeholder="Add tags starting with # and separated by #" name="tags"></textarea>

          <!-- Post Privacy Settings -->
          <div class="post-privacy">
            <label for="privacyOptions">Post Privacy:</label>
            <select id="privacyOptions" name="privacy">
              <option value="public">Public - Visible to everyone</option>
              <option value="private">Friends - Visible to friends</option>
              <option value="group">Groups - Visible only in groups</option>
            </select>
          </div>
        </form>
    </div>
</div>
{% endblock %}
