<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="../static/css/style.css"/>
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="edit-profile2">
    		 <div class="pagesignup-bluefit">
				<a href="{{ url_for('index') }}" class="pagesignup-text10">FITstagram</a>
			  </div>
    		<div class="edit_information">
      			<div class="user-name2">{{ user.login }}</div>
      			<div class="email-examplemailcom">email: {{ user.mail }}</div>
				<form method="POST" action="{{ url_for('setting',login=user.login) }}">
					<div class="fullname">
							<div class="first">
								<input type="text" name="name" class="first-name" value="{{ user.name }}">
							</div>
							<div class="last">
								<input type="text" name="surname" class="first-name" value="{{ user.surname }}">
							</div>
					</div>
					<div class="password">
						<input type="text" name="password" class="password">
					</div>
					<div class="password">
						<input type="text" name="confirm_password" class="confirm_password">
					</div>
					<button type="submit" class="save-changes">Save changes</button>

				</form>
    		</div>
    		<img class="arrow-icon2" alt="" src="../static/images/arrow2.svg" id="arrowIcon">
    		
  	</div>
  	
  	
  	</body>
</html>