<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="../static/css/style.css"/>
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="edit-profile2">
    		 <div class="pagesignup-bluefit">
				<a href="{{ url_for('index') }}" class="pagesignup-text10">FITstagram</a>
			  </div>
    		<div class="edit_information">
      			<div class="avatar-edit">
        				<img class="generic-avatar-icon2" alt="" src="../static/images/Generic avatar2.png">
        				
        				<div class="plus">
          					<div class="plus-child">
          					</div>
          					<b class="b">+</b>
        				</div>
      			</div>
      			<div class="user-name2">user name</div>
      			<div class="email-examplemailcom">email: example@mail.com</div>
      			<div class="fullname">
        				<div class="first">
          					<div class="login">
          					</div>
          					<div class="first-name"> first name</div>
        				</div>
        				<div class="last">
          					<div class="login">
          					</div>
          					<div class="first-name"> last name</div>
        				</div>
      			</div>
      			<div class="password">
        				<div class="login">
        				</div>
        				<div class="first-name">password</div>
      			</div>
      			<div class="password">
        				<div class="login">
        				</div>
        				<div class="first-name">confirm password</div>
      			</div>
      			<div class="button">
        				<div class="save-changes">save changes</div>
      			</div>
    		</div>
    		<img class="arrow-icon2" alt="" src="../static/images/arrow2.svg" id="arrowIcon">
    		
  	</div>
  	
  	
  	</body>
</html>