{% extends "base.html" %}

{% block title %}Post Details{% endblock %}

{% block content %}
    <a href="{{ url_for('post', post_id=post.id) }}">
        <img class="back-button" alt="Back" src="../static/images/arrow2.svg" id="arrowIcon">
    </a>
    <div id="imageDetail">

    <form action="{{ url_for('edit_post', post_id=post.id) }}" method="POST">
        <img alt="Image {{ post.id }}" src="{{ url_for('image', id=post.id) }}" id="selectedImage" data-id="{{ post.id }}">

        <div id="imageTags">
            <span id="tagsList">Tags:</span>
            <textarea id="tags" placeholder="Add tags starting with # and separated by #" name="tags">{% if post.associated_tags %}#{{ post.associated_tags | map(attribute='name') | join('#') }}{% endif %}</textarea>
        </div>

        <div class="post-privacy">
            <label for="privacyOptions">Post Privacy:</label>
            <select id="privacyOptions" name="privacy" onchange="toggleGroupSelect()">
                <option value="public" {% if post.status == "public" %}selected{% endif %}>Public - Visible to everyone</option>
                <option value="private" {% if post.status == "private" %}selected{% endif %}>Friends - Visible to friends</option>
                <option value="group" {% if post.status == "group" %}selected{% endif %}>Groups - Visible only in groups</option>
            </select>
        </div>

        <div id="groupSelect" style="display: none;">
            <label for="groupOptions">Select Group:</label>
            {% for group in user.get_approved_groups() %}
                <input type="checkbox" id="group{{ group.id }}" name="groups" value="{{ group.id }}" {% if group in post.get_connected_groups() %}checked{% endif %}>
                <label for="group{{ group.id }}">{{ group.name }}</label>
            {% endfor %}
        </div>

        <div id="imageDescription">
            <h3>Description:</h3>
            <textarea id="caption" rows="8" cols="50" placeholder="Write a text..." name="text">{{ post.text }}</textarea>
        </div>

        <button type="submit" class="post-button">Update</button>

    </form>
    </div>

 <script>
    function toggleGroupSelect() {
      const privacyOptions = document.getElementById('privacyOptions');
      const groupSelect = document.getElementById('groupSelect');
      groupSelect.style.display = privacyOptions.value === 'group' ? 'block' : 'none';
    }

    function togglePopup() {
      const popupModal = document.getElementById('popupModal');
      popupModal.style.display = popupModal.style.display === 'none' || popupModal.style.display === '' ? 'block' : 'none';
    }

    window.onload = function() {
      toggleGroupSelect();
    };
</script>
{% endblock %}
