{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="projekt-content">
    <div class="pagesignup-container">
        <div class="pagesignup-pagesignup">
			<form class="pagesignup-signup" method="POST" action="{{ url_for('setting',login=user.login) }}">
			<a href="{{ url_for('go_back') }}">
				<img class="back-button" alt="" src="../static/images/arrow2.svg" id="arrowIcon">
			</a>

      			<div class="pagesignup-text12">Login: @{{ user.login }}</div>
      			<div class="pagesignup-text12">Email: {{ user.mail }}</div>

					<div class="pagesignup-fullname">
						<div class="input-container">
							<label for="name" class="floating-label">Name</label>
							<input type="text" id="name" name="name" class="pagesignup-input" value="{{ user.name }}">
						</div>
						<div class="input-container">
							<label for="surname" class="floating-label">Surname</label>
							<input type="text" id="surname" name="surname" class="pagesignup-input"  value="{{ user.surname }}">
						</div>
					</div>
					{% if session.user == user.login %}
					<div class="pagesignup-password">
						<div class="input-container">
							<label for="password" class="floating-label">Password</label>
							<input type="password" id="password" name="password" class="pagesignup-input" placeholder="">
						</div>
					</div>
					
					<div class="pagesignup-password">
						<div class="input-container">
							<label for="confirm_password" class="floating-label">Confirm Password</label>
							<input type="password" id="confirm_password" name="confirm_password" class="pagesignup-input" placeholder="">
						</div>
					</div>
					{% endif %}
					<button type="submit" class="pagesignup-buttonsingupbig">
						<span class="pagesignup-text22"><span>Save changes</span></span>
					</button>

        </form>
    		
  	</div>
  	</div>
</div>
{% endblock %}
