<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="../static/css/style.css"/>
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap" />
</head>
<body>
  	
  	<div class="edit-profile2">
		<div class="pagesignup-bluefit">
			<a href="{{ url_for('index') }}" class="pagesignup-text10">FITstagram</a>
		</div>
		<a href="{{ url_for('go_back') }}">
			<img class="arrow-icon" alt="" src="../static/images/arrow.svg" id="arrowIcon">
		</a>
		<div class="edit_information">

			<form method="POST" action="{{ url_for('edit_group', id = group.id) }}">
				<div class="name">
					<input type="text" name="name" class="name" value="{{ group.name }}">
				</div>

				<div class="description">
					<input type="text" name="description" class="description" value="{{ group.description }}">
				</div>

				<button type="submit" class="save-changes">Save changes</button>

			</form>

				<form method="POST" action="{{ url_for('delete_group') }}">
					<input type="hidden" name="group_id" value="{{ group.id }}">
					<button type="submit" class="save-changes">Delete group</button>
				</form>

				<h2>Members</h2>
				{% for login,role in users.items() %}
					<div class="user">
						<a href="{{ url_for('profile', login=login ) }}" class="user-name">{{ login }} {{role}}</a>
						<form method="POST" action="{{ url_for('manage_users_group') }}">
							<input type="hidden" name="user_login" value="{{ login }}">
							<input type="hidden" name="group_id" value="{{ group.id }}">
						{% if role != 'admin' %}
							<button type="submit" name="action" value="delete" class="butt-my-viewers">Delete</button>
						{% endif %}
						{% if role == 'member' %}
							<button type="submit" name="action" value="make_admin" class="butt-my-viewers">Make admin</button>
						{% endif %}
						{% if role == 'pending' %}
							<button type="submit" name="action" value="accept_pending" class="butt-my-viewers">Accept</button>
						{% endif %}

						</form>
					</div>
				{% endfor %}
				<h2> Posts</h2>
				{% for post in posts %}
					<div class="post">
						<a href="{{ url_for('profile', login=post.author_login) }}" class="post-author">{{ post.author_login }}</a>
						<a href="{{ url_for('post', post_id=post.id) }}" class="post-name">
							<img class="avatar" alt="" src="{{ url_for('image', id=post.id) }}">
							<form method="POST" action="{{ url_for('manage_posts_group') }}">
								<input type="hidden" name="group_id" value="{{ group.id }}">
								<input type="hidden" name="post_id" value="{{ post.id }}">
								<button type="submit" name="action" value="delete" class="butt-my-viewers">Delete</button>
							</form>
						</a>
					</div>
				{% endfor %}
		</div>
	</div>
</body>
</html>