{% extends "base.html" %}

{% block title %}Groups{% endblock %}

{% block content %}
  	<div class="groups">
    		<div class="window-groups">
    		</div>
    		<div class="all-groups">
        		<div class="butt-my-groups active" id="myGroupsButton">
          			<div class="button">My groups</div>
        		</div>
        		<div class="search">
          			<div class="search-text">Search...</div>
          			<img class="search-icon" alt="" src="../static/images/search.svg">
        		</div>
        		<div class="butt-all-groups passive" id="allGroupsButton">All groups</div>
        		<div class="butt-create-group" id="createGroupButton">
          			<div class="button">Create a group</div>
        		</div>
        		
        		<!-- Loop through groups from the database -->
				<div class="group-item">

        		{% for group in groups %}
          				<img class="avatar" alt="" src="{{ group.avatar_url or '../static/images/default_group.png' }}">
          				<div class="name-of-group">
            				<div class="group">{{ group.name }}</div>
            				<div class="subscribers">{{ group.subscribers_count }} subscribers</div>
          				</div>
          				<div class="line"></div>
        		{% endfor %}
			</div>

    		</div>
    		<img class="arrow-icon" alt="" src="../static/images/arrow2.svg" id="arrowIcon">
  	</div>
  	
  	<div id="createGroupContainer" class="popup-overlay" style="display:none">
    	<div class="window-create-group">
      		<div class="create-group-text">Create a group</div>
      		<div class="create-butt">
        		<div class="create">Create</div>
      		</div>
      		<div class="window-name"></div>
      		<div class="window-privacy"></div>
      		<div class="public">Public</div>
      		<div class="group-name">Group name</div>
      		<div class="group-privacy">Group privacy</div>
      		<img class="icon" alt="" src="../static/images/ChevronDownOutline.svg">
      		<div class="enter-a-name">Enter a name</div>
    	</div>	
  	</div>
    	
{% endblock %}
