<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <!-- Font Styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap"
    />

  <body>
    <link rel="stylesheet" href="../static/css/style.css" />
    <div>
      <link href="../static/css/pagelogin.css" rel="stylesheet" />
      <div class="pagesignup-bluefit">
        <span class="pagesignup-text10">FITstagram</span>
      </div>
      <div class="pagesignup-container">
        <div class="pagesignup-pagesignup">
          
          <div class="pagesignup-signup">
            <span class="pagesignup-text12"><span>Log In</span></span>
            <div class="pagesignup-username">
              <input type="text" id="username" class="pagesignup-input" placeholder="username">
            </div>
            <div class="pagesignup-password">
              <input type="password" id="password" class="pagesignup-input" placeholder="password">
            </div>
            
            <a href="index.html" class="pagesignup-buttonsingupbig">
              <span class="pagesignup-text22"><span>Log In</span></span>
            </a>
            <div class="pagesignup-haveacc">
              <span class="pagesignup-text24">
                <span>Dont have an account?</span>
              </span>
              <a  href="pagesignup.html"  class="pagesignup-buttlogin">
                <span class="pagesignup-text26"><span>sign up</span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
