<!-- Template for displaying a shares page -->
{% extends "base.html" %}

{% block title %}Shares{% endblock %}

{% block content %}
    <!-- Container for the viewers section -->
    <div class="viewers">
        <!-- Back button -->
        <a href="{{ url_for('index') }}">
            <img class="back-button" alt="Back" src="../static/images/arrow2.svg" id="arrowIcon">
        </a>
        
        <!-- Container for all users -->
        <div class="all-users">
            <!-- Button container for received and sent shares -->
            <div class="button-container">
                <a href="{{ url_for('shares') }}" id="myGroupsButton" class="butt-my-viewers {% if request.endpoint == 'shares' %}active{% else %}passive{% endif %}">Received Shares</a>
                <a href="{{ url_for('shares_sent') }}" id="allGroupsButton" class="butt-my-viewers {% if request.endpoint == 'shares_sent' %}active{% else %}passive{% endif %}">Sent Shares</a>
            </div>

            <!-- List of users -->
            <div class="users" id="usersList">
                <!-- Loop through shares from the database -->
                {% for share in shares %}
                <a href="{{ url_for('post', post_id=share.post_id) }}" class="user">
                    <div class="user">
                        <!-- User avatar -->
                        <img class="avatar" alt="" src="{{ url_for('image', id=share.post_id) }}">
                        <div class="name-user">
                            <!-- Display sender or recipient based on the current user -->
                            {% if share.sender_login == session.user %}
                                <div class="user-name">To: @{{ share.recipient_login }}</div>
                            {% else %}
                                <div class="user-name">From: @{{ share.sender_login }}</div>
                            {% endif %}

                            <!-- Display share date -->
                            <div class="user-name">Date: {{ share.date.strftime("%d %B %Y, %H:%M") }}</div>
                        </div>
                    </div>
                </a>
                <!-- Horizontal line separator -->
                <div class="line"></div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}