<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <!-- Font Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap"/>

  <body>
  <header>
    <div class="pagesignup-bluefit">
        <span class="pagesignup-text10">FITstagram</span>
    </div>

  </header>
    <link rel="stylesheet" href="../static/css/style.css" />
    <div>

      <div class="pagesignup-container">
        <div class="pagesignup-pagesignup">

          <form class="pagesignup-signup" method="POST" action="/signup">
            
            <span class="pagesignup-text12"><a>Sign up</a></span>
            <div class="pagesignup-emailormbph">
              <input type="email" id="email" name="email" class="pagesignup-input" placeholder="email">
            </div>
            <div class="pagesignup-username">
              <input type="text" id="login" name="login" class="pagesignup-input" placeholder="login">
            </div>
            <div class="pagesignup-fullname">
              <input type="text" id="name" name="name" class="pagesignup-input" placeholder="name">
            </div>
            <div class="pagesignup-fullname">
              <input type="text" id="surname" name="surname" class="pagesignup-input" placeholder="surname">
            </div>
            <div class="pagesignup-password">
              <input type="password" id="password" name="password" class="pagesignup-input" placeholder="password">
            </div>
            <div class="pagesignup-password">
              <input type="password" id="confirm_password" name="confirm_password" class="pagesignup-input" placeholder="confirm password">
            </div>

            <button type="submit" class="pagesignup-buttonsingupbig">
              <span class="pagesignup-text22"><span>Sign up</span></span>
            </button>

            <div class="pagesignup-haveacc">
              <span class="pagesignup-text24">
                <span>Have an account?</span>
              </span>
              <a  href="{{url_for('login')}}" class="pagesignup-buttlogin">
                <span class="pagesignup-text26"><span>log in</span></span>
              </a>
            </div>

          </form>

        </div>
      </div>
    </div>
  </body>
</html>
