{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="projekt-content">
    <div class="pagesignup-container">
        <div class="pagesignup-pagesignup">
            <form class="pagesignup-signup" method="POST" action="/signup">
                <span class="pagesignup-text12"><a>Sign up</a></span>
                
                <div class="input-container">
                    
                    <label for="email" class="floating-label">Email<span class="required-field">*</span></label>
                    <input type="email" id="email" name="email" class="pagesignup-input" placeholder="" value= "{{ previous_values.email if previous_values else '' }}" required>
                    <span class="info-icon">ℹ
                        <span class="tooltip">Please enter a valid email address.</span>
                    </span>
                </div>
            
                <div class="input-container">
                    <label for="login" class="floating-label">Login<span class="required-field">*</span></label>
                    <input type="text" id="login" name="login" class="pagesignup-input" placeholder="" value= "{{ previous_values.login if previous_values else '' }}" required>
                    <span class="info-icon">ℹ
                        <span class="tooltip">Username must be 2-60 characters long and contain only letters, numbers.</span>
                    </span>
                </div>
            
                <div class="pagesignup-fullname">
                    <div class="input-container">
                        <label for="name" class="floating-label">Name</label>
                        <input type="text" id="name" name="name" class="pagesignup-input" placeholder="" value= "{{ previous_values.name if previous_values else '' }}" >
                        <span class="info-icon">ℹ
                            <span class="tooltip">Enter your first name, must be 2-60 characters long and contain only letters, numbers.</span>
                        </span>
                    </div>

                    <div class="input-container">
                        <label for="surname" class="floating-label">Surname</label>
                        <input type="text" id="surname" name="surname" class="pagesignup-input" placeholder="" value= "{{ previous_values.surname if previous_values else '' }}" >
                        <span class="info-icon">ℹ
                            <span class="tooltip">Enter your last name, must be 2-60 characters long and contain only letters, numbers.</span>
                        </span>
                    </div>
                </div>
                
                <div class="input-container">
                    <label for="password" class="floating-label">Password<span class="required-field">*</span></label>
                    <input type="password" id="password" name="password" class="pagesignup-input"autocomplete="current-password"  value="{{ previous_values.password if previous_values else '' }}" required>
                    <span class="toggle-password" onclick="togglePassword()">
                        <i class="fas fa-eye-slash" id="togglePasswordIcon"></i> 
                    </span>
                    <span class="info-icon">ℹ
                        <span class="tooltip">Password must be at least 8 characters.</span>
                    </span>
                </div>
            
                <div class="input-container">
                    <label for="confirm_password" class="floating-label">Confirm Password<span class="required-field">*</span></label>
                    <input type="password" id="confirm_password" name="confirm_password" class="pagesignup-input" placeholder="" value="{{ previous_values.confirm_password if previous_values else '' }}" required>
                    <span class="toggle-password" onclick="toggleConfirmPassword()">
                        <i class="fas fa-eye-slash" id="toggleConfirmPasswordIcon"></i> 
                    </span>
                    <span class="info-icon">ℹ
                        <span class="tooltip">Please re-enter your password for confirmation.</span>
                    </span>
                    <div class="mandatory">
                        *Indicates mandatory fields
                    </div>
                </div>

                <button type="submit" class="pagesignup-buttonsingupbig">
                    <span class="pagesignup-text22"><span>Sign up</span></span>
                </button>

                <div class="pagesignup-haveacc">
                    <span class="pagesignup-text24">
                        <span>Have an account?</span>
                    </span>
                    <a href="{{url_for('login')}}" class="pagesignup-buttlogin">
                        <span class="pagesignup-text26"><span>log in</span></span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
