{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="viewers">

        <div class="window-users"></div>
        <div class="all-users">
            <div class="butt-my-viewers active" id="myViewersButton">
                <div class="button">My viewers</div>
            </div>
            <div class="button2 passive" id="allUsersButton">All users</div>
            <div class="add-viewer-button" id="addViewerButton">
                <div class="button">Add viewer</div>
            </div>
            
            <!-- Loop through users from the database -->
            <div class="users" id="usersList">
                {% for user in users %}
                <div class="user">
                    <img class="avatar" alt="" src="{{ user.avatar_url or '../static/images/default_user.png' }}">
                    <div class="name-user">
                        <div class="user-name">{{ user.name }}</div>
                    </div>
                    <div class="line"></div>
                </div>
                {% endfor %}
            </div>
        </div>
        <img class="arrow-icon" alt="" src="../static/images/arrow2.svg" id="arrowIcon">
    </div>
    
    <!-- Popup for adding viewer -->
    <div id="addViewerPopup" class="popup-overlay" style="display:none">
        <div class="add-viewer">
            <div class="add-viewer-text">Add viewer</div>
            <div class="button-add">
                <div class="button">Add</div>
            </div>
            <div class="window-search"></div>
            <img class="icon" alt="" src="../static/images/ChevronDownOutline.svg" id="chevronIcon" style="z-index: 10;">
            <div class="search">
                <div class="search-text">Search...</div>
                <img class="search-icon" alt="" src="../static/images/search.svg">
            </div>
            <!-- Hidden users in search -->
            <div id="hiddenUsers" class="window-hide" style="display: none;">
                {% for friends in friend %}
                <div class="user">
                    <img class="avatar" alt="" src="{{ friends.avatar_url or '../static/images/default_user.png' }}">
                    <div class="name-user">
                        <div>{{ friends.name }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
